/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2015, 5:25:20 PM
    Author     : development
*/

#signupdiv{
    position: relative;
   top:80px; 
   
}
#logo{
    margin: 0 auto;
    
}
    

.text-left{
    text-align: center !important;
    font-size: larger;
}




#div1{
    position: relative;
    top:100px;
}


/*css for personal.html */

#contemporarycontainer{
    position: absolute;
    top:50px;
}

#para1{
    font-size: larger;
    
}
#preview{
    position: relative;
    left:  0px;
    top:10px;
}
.thumbnail fancybox{
    margin: 0 auto;
}